[2018-05-07 10:48] diasdavid opened #1 "Whole page design"
@akrych we need the page wireframes, design and assets to be able to implement it. Can you add the design to a project in Zeplin/Invision and share here the assets for it?

[2018-05-07 10:49] diasdavid commented on #1
Meanwhile, I leave here a preview (what I have access to right now)

![image](https://user-images.githubusercontent.com/1211152/39698413-0321111c-51f5-11e8-9974-412159093b1b.png)

[2018-05-07 10:52] akrych commented on #1
@diasdavid It's on Zeplin here: https://zpl.io/VOBLnGP

I was waiting for your feedback, but If everyting is ok - I will add tomorrow two more illustrations for "Real time applications" and "Explore Blockchains Data" :) 👍

[2018-05-08 12:36] akrych commented on #1
- Number of contributors after the “Open Source” on the menu
- Add a language selection dropdown to be able to select the site language
- Add a “Alpha” & “Not audited” banner, similar to peerpad
- Ability to showcase demos in the “What can you build” section

Update design with this ^^ 4 things, on Zeplin 👍

[2018-05-08 15:42] akrych commented on #1
Add missing illustrations:

<img width="718" alt="screenshot at may 08 17-39-19" src="https://user-images.githubusercontent.com/22168118/39767443-154061de-52e7-11e8-88ca-2e83d0a52438.png">

<img width="718" alt="screenshot at may 08 17-39-48" src="https://user-images.githubusercontent.com/22168118/39767448-18568c18-52e7-11e8-87aa-1e45f6c26054.png">

<img width="718" alt="screenshot at may 08 17-40

[2018-05-08 20:32] hacdias commented on #1
@akrych those are **really** beautiful!

[2018-05-10 08:49] akrych commented on #1
I add also mobile version to the Zeplin 👍 zpl.io/adMeQBl

[2018-05-27 19:54] satazor opened #5 "Use standardjs"
At the moment, we are using `eslint` with a custom config.

As per the [community guidelines](https://github.com/ipfs/community), we should be using StandardJS.

[2018-05-28 20:15] VictorBjelkholm opened #6 "Domain Structure - js-ipfs Gateways"
More as a reminder to myself about the whole domains structure

- `js.ipfs.io` => Landing page
- `js.ipfs.io/ipfs/$HASH` => js-ipfs node.js gateway OR js-ipfs service worker if activated
- `js.ipfs.io/dashboard` => publicly available dashboard for metrics of at least the running js-ipfs gateways

[2018-05-28 20:33] VictorBjelkholm commented on #5
Fun fact, we're kind of using StandardJS but not really, which means we're not using StandardJS at all.

In the end, our config is here: https://github.com/ipfs/eslint-config-aegir which is based on StandardJS but with "Enforce the use of strict mode" as a additional rule. Easiest to use it, is to include aegir in the project (which probably is a good idea anyways, comes with testing/building and

[2018-06-02 19:20] diasdavid commented on #5
We are compatible with StandardJS, just so happens that we found useful to add extra rules for our lint config in our modules.

[2018-06-19 12:57] diasdavid commented on #6
Thanks for sharing this! Please add it to the README :)

[2018-07-03 15:40] diasdavid opened #18 "Support embeded apps"
<img width="1678" alt="image" src="https://user-images.githubusercontent.com/1211152/42229990-2108c056-7ee8-11e8-9d96-47c0bc521b88.png">

This section needs to be populated by multiple tiny apps.

@PedroMiguelSS we went through this in our last check in, is there code to make it possible to create this tiny apps?

[2018-07-04 17:40] PedroMiguelSS opened #21 "Document how stats on the hero section are being fetched."
I was implementing the IPFS package details ("current version", "latest update" and "downloads last month") and I was using [npmstat](https://github.com/bukinoshita/npmstat) package to get the info. However, I was getting a `CORB` ([Cross-Origin Read Blocking](https://chromium.googlesource.com/chromium/src/+/master/services/network/cross_origin_read_blocking_explainer.md#Determining-whether-a-resp

[2018-07-05 15:22] diasdavid opened #22 "intl files structure"
Creating this issue to not loose track of https://github.com/ipfs/js.ipfs.io/pull/19#discussion_r199862484

[code]

[2018-07-05 15:54] diasdavid commented on #5
Done with #19

[2018-07-05 15:54] #5 closed

[2018-07-05 15:55] diasdavid opened #23 "Auto deploy to a staging environment"
Can we haz this plz?

![image](https://user-images.githubusercontent.com/1211152/42334011-963f0e12-807c-11e8-8f60-3259433bce3c.png)

[2018-07-05 15:59] VictorBjelkholm commented on #23
Documented how to setup here: https://github.com/ipfs/jenkins-libs/#example-with-multiple-branchesrecords

[2018-07-09 00:54] diasdavid opened #24 "The Service Worker Stats page is being captured by gatsby"
<img width="1206" alt="image" src="https://user-images.githubusercontent.com/1211152/42425921-4f70b3ce-8323-11e8-9f1a-26d9f71df333.png">

[2018-07-11 10:20] lgierth opened #29 "Animation is very CPU hungry"
The circling dots animation eats about 200% CPU on my laptop. Makes me close the website right away :(

[2018-07-11 15:28] PedroMiguelSS commented on #29
You're right @lgierth, I didn't notice that. I was researching trying to find out a reason for this CPU consumption and then I realized that applying linear transformations to SVG elements does trigger re-layout and re-painting. I'll fix this as soon as possible.

[2018-07-12 15:03] diasdavid opened #30 "Service Worker Gateway Section"
Plan:

- 1. Draw a low fidelity sketch of the Service Worker Gateway Animation - @diasdavid
- 2. Ask @akrych to save us all by making it beautiful and functional
- 3. Get @PedroMiguelSS and @hugomrdias to implement it.

[2018-07-17 17:10] #22 closed

[2018-07-19 14:50] diasdavid opened #39 "Service Worker is failing to load"
<img width="1102" alt="image" src="https://user-images.githubusercontent.com/1211152/42950228-6f255562-8b6b-11e8-8e5d-dd29425c5993.png">

[2018-07-19 16:12] andreforsousa commented on #1
Hello @PedroMiguelSS, @diasdavid, I've already revised the Hero banner considering latest feedback.

![js-ipfs_hero-banner_a_1-1](https://user-images.githubusercontent.com/39052705/42956050-d790d044-8b76-11e8-9a74-7c00977d704a.jpg)

[2018-07-19 16:19] diasdavid opened #41 "Projects on top of IPFS"
How can I add more _projects_ to the "What people are building with it". Seems that it expects a custom element for each one https://github.com/ipfs/js.ipfs.io/blob/master/src/shared/data/what-are-people-building/index.js

@PedroMiguelSS I've a bunch more to add :)

So far, the list is:

- Paritii
- DWeb Internet Archive
- PeerPad
- orbit.chat
- Brave Browser IPFS integration
- Filenation

I'll ch

[2018-07-19 17:45] vasco-santos commented on #39
I [updated](https://github.com/ipfs-shipyard/service-worker-gateway/pull/19) the `ipfs` dependency in the `service-worker-gateway` and now I am facing another problem regarding the `Big.js` dependency, the same as was solved in [here](https://github.com/ipfs/js-ipfs/pull/1364/files). But, as this project is using Webpack 1 ( 😢), I have to go with a different solution.

[2018-07-19 18:19] diasdavid commented on #39
Why can't this project use the latest WebPack?

[2018-07-19 20:42] vasco-santos commented on #39
As far as I know, Gatsby is only compatible with Webpack v1, but @satazor or @PedroMiguelSS can confirm this since they bootstrapped the project.

[2018-07-19 20:43] satazor commented on #39
Current stable version of Gatsby still uses webpack 1 unfortunately. They will be releasing a new major with webpack 4 soon.

[2018-07-19 20:49] satazor commented on #41
I guess you just need to add a new entry to that array, and add the logo & image. But @PedroMiguelSS can clarify.

[2018-07-19 22:48] diasdavid commented on #39
@vasco-santos, you can always use the bundled version of js-ipfs so that webpack doesn't need to touch it here for the Service Worker.

[2018-07-20 12:30] satazor commented on #39
Fix in #43

[2018-07-20 13:56] #39 closed

[2018-07-20 15:11] PedroMiguelSS commented on #41
@diasdavid, you need to add a new entry to that array as @satazor mentioned. However, I had to make a little change: you can add an external link to the project. This will be useful to the `learn more` button.
Now the projects array looks like [this](https://github.com/ipfs/js.ipfs.io/blob/master/src/shared/data/what-are-people-building/index.js).

So, you just need to:

- add a new entry to the [

[2018-07-20 16:56] PedroMiguelSS opened #46 "Markdown support"
@diasdavid, I saw that you are using markdown on features description. I didn't know we should be supporting that. I've found a library ([react-markdown](https://github.com/rexxars/react-markdown)) that handles it very well. Can you please tell me in which sections we should support markdown?

[2018-07-20 17:38] diasdavid commented on #46
It's useful to be able to addr urls to the description of some sections. Markdown or html, both work for me.

[2018-07-23 09:00] vasco-santos opened #47 "dependency not found when hosted fails service worker installation"
When this website is built locally, and then exposed locally with the `http-server`, the build seems fine. However, when visiting the website through https://dev.js.ipfs.io and enabling the service worker, its installation fails due to a dependency not being found.

`Error: Cannot find module "webrtcsupport"`

After analysing the `sw.map`, this dependency should be found at `"webpack:///./~/webrtc

[2018-07-24 09:31] diasdavid commented on #30
@PedroMiguelSS can we get the animation as is on the Website asap so that we get a sense for the whole flow?

[2018-07-24 09:31] diasdavid commented on #23
@VictorBjelkholm thank you for making this.

[2018-07-24 09:32] diasdavid commented on #6
@VictorBjelkholm can we haz the dashboard? :)

[2018-07-24 09:32] diasdavid commented on #21
This has been fully solved thanks to npms.io, correct? //cc @satazor

[2018-07-24 09:34] VictorBjelkholm commented on #23
@diasdavid the records have been setup correctly but this still seems to be missing a correct Jenkinsfile to have the staging env correctly updated when master changes.

[2018-07-24 09:35] satazor commented on #21
@diasdavid correct, see https://github.com/ipfs/js.ipfs.io/blob/239bc814e5f710c0483d12ecc86f8987b6159e50/src/shared/components/hero-section/index.js#L33

One downside is that the `npms.io` data for each package is only updated each 15 or whenever a new version of package gets published. If that's not an issue, we can indeed close this.

[2018-07-24 09:37] diasdavid commented on #23
@VictorBjelkholm like this https://github.com/ipfs/js.ipfs.io/pull/49 ??

[2018-07-24 09:37] diasdavid commented on #21
It's fine for now. Let's make sure it gets captured on the README though :)

[2018-07-24 09:41] VictorBjelkholm commented on #6
@diasdavid let's have js-ipfs gateways before we have a dashboard! (otherwise the dashboard be very empty :) )

So I did bunch of work on getting the gateways deployed before, but since it was hard to have them running for more than a minute, I hold off and I'm waiting (what's the progress on this?) for a more stable daemon that doesn't crash as often.

Infra issue about js-ipfs gateways + dashboa

[2018-07-24 09:46] vasco-santos commented on #47
cc @hugomrdias

[2018-07-24 10:05] diasdavid commented on #41
Sent requests.

@PedroMiguelSS the way it is step relies on the order of the array in two locations, this is super prone to get messed up. Can we get a proper Key for each so that instead of relying on array ordering, it checks for the key?

[2018-07-24 10:59] VictorBjelkholm opened #51 "Must use relative links on websites"
Loading the website via https://dev.js.ipfs.io/ and everything works fine. But if you resolve it to `/ipfs/QmZdddeppG8x16QxyuBW4zeNLVAUuBmDj7NVUcLkYkmCJC` and then try to load https://ipfs.io/ipfs/QmZdddeppG8x16QxyuBW4zeNLVAUuBmDj7NVUcLkYkmCJC/ you'll see that the image does not load properly. This is because the link is not relative but absolute, leading the image to be loaded from https://ipfs.i

[2018-07-24 11:03] VictorBjelkholm commented on #23
Works perfectly now :)

[2018-07-24 11:03] #23 closed

[2018-07-24 11:53] diasdavid opened #52 "Fix contributors section - Needs Hex Grid"
<img width="1578" alt="image" src="https://user-images.githubusercontent.com/1211152/43136393-e1617e36-8f48-11e8-8787-bd59942285b0.png">

[2018-07-24 11:57] diasdavid commented on #6
@VictorBjelkholm Roger. However, by default, a Gateway node should be there so that when the service worker is disabled, `https://js.ipfs.io/ipfs/QmNoCDtfGqLZa26Z7mqqp2h3uYMCrHXUpzAJvCTp5Kuc5z` still works.

[2018-07-24 11:59] diasdavid commented on #18
Dropping the priority of this one as it will go only in the next iteration (post DWeb Summit)

[2018-07-24 12:01] diasdavid commented on #47
@vasco-santos @hugomrdias is this related with the WebPack 1 issues?

Why not use the `dist` version of js-ipfs??

[2018-07-24 12:01] diasdavid opened #53 "Getting Started Section"

[2018-07-24 12:03] hugomrdias commented on #47
our current dist bundle doesn't support es5 uglifyjs

[2018-07-24 12:07] vasco-santos commented on #24
I forgot to change the `README.md`, but the stats page scope was changed to `/stats`.

Ref:
https://github.com/ipfs-shipyard/service-worker-gateway/pull/17
https://github.com/ipfs-shipyard/service-worker-gateway/pull/20

[2018-07-24 12:09] vasco-santos commented on #51
@hugomrdias is currently tackling this problem

[2018-07-24 12:17] diasdavid commented on #24
I guess this is blocked on solving #47 now.

[2018-07-24 12:19] vasco-santos commented on #24
Using `localhost` should work fine, as well as using an HTTP server with the public folder that results from the build.

The #47 problem is when using the version running on `dev.js.ipfs.io` only.

[2018-07-24 12:33] diasdavid commented on #24
@vasco-santos is the Service Worker on _this page_ working 100% right now?

[2018-07-24 12:47] vasco-santos commented on #24
I cloned the repo, installed everything from scratch, removed my brower's cache, and it seems to be working 100% locally.

![image](https://user-images.githubusercontent.com/7295071/43138823-086ab11a-8f48-11e8-9f00-dd785ee83fa9.png)

[2018-07-24 12:49] vasco-santos commented on #24
I also tested in `firefox` now and it is working

[2018-07-24 13:00] PedroMiguelSS commented on #52
It already has the hex grid implemented.
The `iframe` that embed the grid is commented. But we need to host the website that contains the grid to use it on the `iframe`. Similar to what was done on [protocol.ai](https://protocol.ai/team/).

<img width="708" alt="screen shot 2018-07-24 at 13 57 42" src="https://user-images.githubusercontent.com/11461281/43139482-bcfc78e2-8f49-11e8-92ea-20123b38483f

[2018-07-24 13:15] diasdavid commented on #52
@PedroMiguelSS add it to IPFS and post the hash here, we can pin it

[2018-07-24 17:15] PedroMiguelSS commented on #52
Here is the hash: `QmNZBjJxrqVE6VXmxHzkS9oqguYZC5NhzQxD7G8B7zSeJ5`

[2018-07-25 23:37] #46 closed

[2018-07-25 23:38] diasdavid commented on #52
@PedroMiguelSS that hash was pinned, anything left other than adding to the page?

[2018-07-25 23:40] diasdavid commented on #6
Did you get to point both `dev.js.ipfs.io/ipfs/*` and `js.ipfs.io/ipfs/*` to the regular IPFS Gateways?

[2018-07-26 09:04] PedroMiguelSS commented on #52
My next PR #54 already adds the hex grid to the page and it will close this issue.

[2018-07-26 14:31] PedroMiguelSS commented on #41
- **IPFS Companion** - is missing the description/blurb and the `svg` logo;
- **FileNation** - is missing the `svg` logo;
- **PeerPad** - is missing the description/blurb;
- **Dweb Archive** - is missing the description/blurb and the `svg` logo;
- **Orbit chat** - is missing the `svg` logo.

[2018-07-26 17:41] #1 closed

[2018-07-26 21:35] diasdavid commented on #52
One last thing to fix in this section:

<img width="1691" alt="image" src="https://user-images.githubusercontent.com/1211152/43289851-86ed9f9e-912c-11e8-89eb-081cdfa69548.png">

[2018-07-26 21:36] diasdavid commented on #41
### DWeb Archive

Use IA logo - https://commons.wikimedia.org/wiki/File:Internet_Archive_logo_and_wordmark.svg

Description - Mitra will send it to us today (PT timezone)

[2018-07-26 21:39] diasdavid commented on #41
### IPFS Companion

Use https://github.com/ipfs/logo/blob/master/vector/ipfs-logo-vector-ice.svg and add next to it the word Companio

[2018-07-26 21:39] diasdavid commented on #41
### Orbit.chat

Cut the circle from

![image](https://user-images.githubusercontent.com/1211152/43290071-2edbba06-912d-11e8-9223-923ebb6c9fd9.png)

[2018-07-27 09:56] diasdavid commented on #24
This seems fixed now, still some UX improvs to be made, let's follow the rest on #30

[2018-07-27 09:56] #24 closed

[2018-07-27 09:57] diasdavid commented on #6
Still no love :(

<img width="871" alt="image" src="https://user-images.githubusercontent.com/1211152/43314754-326181a8-9194-11e8-8b2e-ebef4dacd022.png">

[2018-07-27 10:32] diasdavid commented on #51
Two sections still broken:

<img width="1666" alt="image" src="https://user-images.githubusercontent.com/1211152/43316263-0b117fae-9199-11e8-8186-fbe81b42807b.png">

<img width="1668" alt="image" src="https://user-images.githubusercontent.com/1211152/43316270-117c2678-9199-11e8-9750-d1b5ef4ec7dd.png">

Note, this is P1, not P0

[2018-07-27 10:32] VictorBjelkholm commented on #6
@diasdavid please subscribe to [this issue](https://github.com/protocol/infra/issues/246) and you'll get updates as soon as they happen

[2018-07-27 11:03] diasdavid commented on #41
# Visual Status Update

<img width="1261" alt="image" src="https://user-images.githubusercontent.com/1211152/43317464-2f998d54-919d-11e8-90c3-6864fc3575ac.png">

<img width="1360" alt="image" src="https://user-images.githubusercontent.com/1211152/43317484-43f9581a-919d-11e8-85aa-9d08cc5681d9.png">

<img width="1287" alt="image" src="https://user-images.githubusercontent.com/1211152/43317521-60561e

[2018-07-27 13:29] diasdavid commented on #47
Can this be considered "fixed" ? @hugomrdias

[2018-07-27 17:45] diasdavid commented on #30
<img width="967" alt="image" src="https://user-images.githubusercontent.com/1211152/43338039-a28a3df8-91d5-11e8-8e17-285d3c8ea86b.png">

[2018-07-27 23:44] satazor opened #68 "Add commit lint and lintstaged"
Check https://github.com/ipfs-shipyard/discussify-styleguide/ to see how it's done.

[2018-07-28 03:10] satazor opened #69 "Do a regular performance checkup on the site"
This is a task for myself: before going live, check the website assets size, etc.

[2018-07-28 09:11] satazor opened #71 "Getting started image container out of bounds"
See attached screenshot. It only happens in some resolutions. Resize the browser to different resolutions to replicate the issue.

<img width="850" alt="screen shot 2018-07-28 at 10 09 53" src="https://user-images.githubusercontent.com/1017236/43355091-8a0f849e-924e-11e8-8d1b-47e784d19e8d.png">

[2018-07-28 09:39] #51 closed

[2018-07-28 10:28] satazor opened #72 "Disable service-worker when accessing via `/ipfs` or `/ipns`"
TLDR: the service-worker must be served from the root but when accessing the website via `/ipfs` or `/ipns` it obviously can't.

Disable the "Enable service-worker" in such cases.

[2018-07-28 11:31] satazor commented on #30
@diasdavid As we discussed in Slack, it's not possible to have the service worker when serving from `/ipfs/xxx` or `/ipns/xxx`. The reasoning is that the service worker must be at the root to intercept all the network calls.

There are a few solutions but they involve setting HTTP headers, like `Service-Worker-Allowed`. More info on https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_A

[2018-07-28 12:03] vasco-santos opened #73 "Create a more generic toggle button and use it in the service worker toggle button"

[2018-07-28 12:17] diasdavid commented on #30
This text box still needs to be stylized

<img width="1482" alt="image" src="https://user-images.githubusercontent.com/1211152/43356425-dbc3aeba-9270-11e8-9533-0b3b0e8b3252.png">

[2018-07-28 12:19] diasdavid commented on #47
This has been fixed 🚀

[2018-07-28 12:19] #47 closed

[2018-07-28 13:42] satazor commented on #30
@vasco-santos is there any design for this?

[2018-07-28 13:57] vasco-santos commented on #30
@satazor There are some guidelines for that design. @andreforsousa provided them to @PedroMiguelSS . I don't know if he already started implementing it.

[2018-07-28 14:00] satazor commented on #30
@PedroMiguelSS can you give us an update on this?

[2018-07-28 14:47] #72 closed

[2018-07-28 15:50] satazor commented on #52
I guess we can close this after #76 gets merged.

[2018-07-28 16:31] satazor opened #79 "Decide where the menu links go"
At the moment, most of the menu links lead to nowhere.

@diasdavid where should the links point to?

[2018-07-28 19:02] #71 closed

[2018-07-28 19:19] satazor commented on #52
@diasdavid closing this as #76 is merged

[2018-07-28 19:19] #52 closed

[2018-07-28 19:34] vasco-santos opened #82 "service-worker-gateway is not working correctly on firefox"

[2018-07-28 22:44] #82 closed

[2018-07-29 02:51] diasdavid commented on #79
The links hrefs were added on #65  by @PedroMiguelSS

[2018-07-29 15:57] satazor opened #84 "Contributors hexagon flickers on iOS safari"
Open the site in iOS safari and scroll down to the contributors iframe. Whenever a new picture loads, the whole thing flickers. This is probably a bug in the iframe code and not on our side, but I created it here to investigate what the issue is first.

[2018-07-29 22:01] lgierth commented on #29
This still eats a lot of CPU, in both Chromium 67 and Firefox 62b12 on Linux. In FF on my laptop the page is barely usable, maybe 1 or 2 FPS. Chromium is more responsive, but still eats a whole core.

[2018-07-29 22:36] PedroMiguelSS opened #86 "Getting Started menu link should be an anchor"
Getting Started menu link should be an anchor.
As @satazor mentioned, we could then call event.preventDefault() to stop it going down instantly and to the animation regularly. The advantage is that the link is copy-pastable.

[2018-07-29 22:43] satazor commented on #29
@lgierth I'm not experiencing this issue, it's very smooth on my Macbook Pro both in Chrome and FF.

What are your laptop secs? Do you have the Linux drivers for your card? Perhaps we could disable the animation for lower end hardware if that's the case?

[2018-07-29 22:43] satazor commented on #79
Closing this then.

[2018-07-29 22:43] #79 closed

[2018-07-29 23:13] PedroMiguelSS opened #87 "React-intl: should react components be used?"
Should (react-intl) react components be used instead of accessing messages directly? Should we always use [FormattedMessage](https://github.com/yahoo/react-intl/wiki/Components#formattedmessage) component?

Disadvantages of this approach: a wrapper div is always automatically created.

[2018-07-29 23:39] satazor opened #88 "Change stylelint indentation to 2"
So that it matches the eslint one. We will need to fix all the CSS indentation afterwards.

[2018-07-29 23:48] lgierth commented on #29
What's your CPU utilization while having the page open? :) Things can look smooth and still eat multiple CPU cores (and thus battery). I recommend a systray statistics tool, in ubuntu I'm using [indicator-multiload](https://lh4.googleusercontent.com/-JnxG3ZNRNcE/Tez0k030V8I/AAAAAAAAEzM/8-qPnGaW6Do/s2000/indicator-multiload.png), there's definitely similar tools for OSX. The advantage is that you *

[2018-07-29 23:49] satazor opened #90 "Reserve space for the GitHub button in menu"
When the GitHub button loads, the menu "re-aligns". We could avoid this by reserving the space for the button.

[2018-07-29 23:53] lgierth commented on #29
It does look gorgeous though :sunglasses:

[2018-07-29 23:58] satazor commented on #29
My laptop is specs are: i7 4 cores, Intel Iris Plus Graphics 650

I guess my graphics card is a little bit better. Here's the CPU amount being used:

<img width="441" alt="screen shot 2018-07-30 at 00 55 21" src="https://user-images.githubusercontent.com/1017236/43371966-4fcb9d90-9393-11e8-9ea5-d3542a9e144a.png">

(Chrome task manager)

It's taking ~10% of the CPU which is fair enough. It's also d

[2018-07-29 23:59] satazor commented on #29
I've made a lot of mistakes in my last comment, edited.

[2018-07-30 01:15] satazor commented on #87
I would use the react components for several reasons:

- Performance
- Usage with placeholders; using `formatMessage` directly is hacky
- No more `injectIntl` is necessary

It seems that a wrapper is no longer necessary:

[code]

The later is more verbose, but we can create our own `FormattedMessage` that does that!

[2018-07-30 01:38] satazor opened #94 "New getting started not working"
<img width="488" alt="screen shot 2018-07-30 at 02 37 46" src="https://user-images.githubusercontent.com/1017236/43373459-a25a4152-93a1-11e8-8fb4-ef3746ea37d5.png">

This is happening on https://dev.js.ipfs.io/

[2018-07-30 01:46] satazor commented on #94
Also, it seems that the code block could take more horizontal space in lower resolutions.

[2018-07-30 02:01] satazor opened #95 "Tweak hero in small vertical resolutions"
https://user-images.githubusercontent.com/1017236/43371718-7af0a6fe-938f-11e8-9cd2-052e49912656.png

See attached screenshot

[2018-07-30 02:33] PedroMiguelSS commented on #30
@andreforsousa did not have time to design it. I styled it just a bit so that is not so raw.
Here's a preview of what is implemented right now:
<img width="1440" alt="screen shot 2018-07-30 at 03 30 05" src="https://user-images.githubusercontent.com/11461281/43374754-353f9c7c-93a9-11e8-8534-9c9c871bf81f.png">

[2018-07-30 02:38] satazor commented on #30
It's not beautiful but it's okay. I guess you may ask @andreforsousa for advice tomorrow morning?

[2018-07-30 09:46] alanshaw opened #96 "Feedback"
Some of these are opinions, it looks and works great btw, 99% awesome :D The service worker animation is 👌

* [ ] Circling dots on Firefox are chuggy until the whole page is loaded
* [x] Portuguese translation isn't working for me
* Features
    * [x] Hover effect on the icons gives me a false sense of them being clickable
    * [ ] Body content for "Add and retrieve files from anywhere in the IPF

[2018-07-30 09:50] #88 closed

[2018-07-30 11:01] VictorBjelkholm commented on #6
@diasdavid redirects setup now!

[2018-07-30 11:58] satazor commented on #94
After investigating, the issue only happens if IPFS companion is enabled. Disabling it works.

[2018-07-30 12:01] satazor opened #97 "Add loading and error states to Getting Started"
While IPFS is being fetched and starting, we should disable the "Run" button. Moreover, if it failed for some reason, the error message should appear in the "output" and the "Run" button should remain disabled.

After having this, I think we can remove toast message that appears if the process failed.

[2018-07-30 12:54] lgierth commented on #29
On the laptop:
- Browser 16% CPU
- GPU Process 37 - 41% CPU
- Tab: JS IPFS 16 - 90% CPU (but mostly below 40%)

On the desktop:
- Browser 14 - 22% CPU
- GPU Process 25 - 33% CPU
- Tab: JS IPFS 16 - 90% CPU (but mostly below 60%)

[2018-07-30 12:58] diasdavid opened #98 "Getting started fails when content fails - non base58 char"
<img width="930" alt="image" src="https://user-images.githubusercontent.com/1211152/43398636-8836ea5c-93bd-11e8-82ab-4d432ab6fcfa.png">

[2018-07-30 12:58] lgierth commented on #29
And add to that ~25% CPU constantly used by compiz (compositor), and you end up with a strong blue CPU usage graph in my systray :):)

[2018-07-30 12:58] diasdavid opened #99 "Typo on Getting started - `jsipfs cat` and not `jsipfs get`"
<img width="977" alt="image" src="https://user-images.githubusercontent.com/1211152/43398662-a2748bae-93bd-11e8-8b0b-41a5cdbf7f8b.png">

[2018-07-30 13:01] diasdavid opened #100 "[Getting Started] Add a default hash"
<img width="982" alt="image" src="https://user-images.githubusercontent.com/1211152/43398817-f79ca13e-93bd-11e8-861d-2a6503f929e3.png">

[2018-07-30 14:40] andreforsousa commented on #30
There's a typo on the first description:

Here's the current proposal for mobile and desktop version, specs already prepared with the html files and also the "close.svg" icon. @PedroMiguelSS, here's the link: [Specs folder](https://drive.google.com/drive/folders/1mCH47-6xtxVtG88eqnKGxBvpU-3yRjxL?usp=sharing)

Thank you.

![page-1-service-worker-illustration_a2-2-desktop](https://user-images.github

[2018-07-31 00:59] diasdavid commented on #96
@alanshaw converted your feedback to check boxes so that we can go through all of them.

[2018-07-31 00:59] diasdavid commented on #94
This should be just using `IPFS` and not window.ipfs.

[2018-07-31 01:07] hugomrdias commented on #98
Did you add 3 chars to the cid?

[2018-07-31 03:56] diasdavid commented on #98
@hugomrdias it seems that there is a problem with the hash passing from one example from the other. If I manually copy the hash from above and paste it here (creating zero visual changes), it works. If I don't, it fails.

[2018-07-31 08:19] jbenet opened #108 "bug seen with js vars in the "Getting Started" part"
hey looks like i got the "using the cli" and "using the http gateway" to load their variables from the `const data` in "adding data to ipfs". maybe variable confusion?

![image](https://user-images.githubusercontent.com/138401/43447232-e6a2f516-945f-11e8-83aa-6c50f6671f6d.png)

[2018-07-31 09:58] satazor commented on #108
Yep, I guess there's a typo. This is similar to #98. @hugomrdias Will take of fixing this today.

[2018-07-31 11:15] #99 closed

[2018-07-31 22:47] vasco-santos opened #116 "Add favicon"
Favicon should be added

[2018-07-31 22:57] #108 closed

[2018-08-01 00:15] hugomrdias commented on #98
This is already fixed in master. Thank you for reporting.

[2018-08-01 00:15] #98 closed

[2018-08-01 01:33] diasdavid commented on #116
Can it be derived from the .svg?

[2018-08-01 01:45] diasdavid commented on #6
@VictorBjelkholm I'm seeing a bunch of 404 now

<img width="329" alt="image" src="https://user-images.githubusercontent.com/1211152/43496369-f18d991c-94f1-11e8-958f-01dfe064b085.png">

[2018-08-01 01:48] diasdavid commented on #30
When activated, it show a different message
<img width="486" alt="image" src="https://user-images.githubusercontent.com/1211152/43496459-50d1ecde-94f2-11e8-8890-f3872e278c35.png">

[2018-08-01 01:53] diasdavid commented on #6
Same for https://js.ipfs.io, sometimes returns 404, others return `Hello World`

[2018-08-01 11:05] PedroMiguelSS commented on #30
Did you mean that it should show a different message when is activate? @diasdavid

[2018-08-01 12:41] diasdavid commented on #30
@PedroMiguelSS exactly.

[2018-08-01 16:08] andreforsousa commented on #116
Hey, I've created the package from the cube used on the hero banner and simplified it a bit for better understanding on smaller sizes: [js-ipfs-favicon.zip](https://github.com/ipfs/js.ipfs.io/files/2250206/js-ipfs-favicon.zip)

@PedroMiguelSS  Please verify if this is ok, thanks.

[2018-08-01 16:32] diasdavid opened #126 "Add .svg mimetype support to ipfs-http-response"

[2018-08-01 17:03] daviddias opened #127 "Add url on ipfs.io to https://js.ipfs.io/"

[2018-08-01 18:13] satazor commented on #126
Made PR to js-ipfs:
https://github.com/ipfs/js-ipfs/pull/1482

Will do the same for that module as well.

[2018-08-01 18:26] satazor opened #129 "Preload carrousel images or reserve space for then"
On mobile devices with slower connections and when switching slides, the whole item flips down when the image is downloaded. We could solve that by reserving space for the screenshots or preload them. I think the first is more desirable.

Also the jpg files should be exported as progressive, which it seems they aren’t.

[2018-08-02 02:15] satazor commented on #126
PR to ipfs-http-response: https://github.com/ipfs/js-ipfs-http-response/pull/5/

[2018-08-02 11:20] VictorBjelkholm opened #130 "Since activating service worker, page always scroll down to "service worker gateway" section"
Since I activated the service worker via js.ipfs.io, whenever I visit js.ipfs.io it jumps down to that section.

I could understand it the first time, as it makes sure the little box on the right is visible after activating the gateway, but on the next loads, I don't think it should scroll down there directly.

Using Arch Linux + Firefox 61.0.1 (64-bit)

[2018-08-02 11:41] satazor commented on #130
@PedroMiguelSS could you check this out?

[2018-08-02 12:33] satazor opened #131 "Service worker success dialog alignment issues"
![2d4115ac-5898-4eb1-963e-f08ab15d2871](https://user-images.githubusercontent.com/1017236/43583858-949700c0-9615-11e8-8dbe-5888c0d63699.png)

The cross should be always placed in the right.

[2018-08-02 12:35] satazor commented on #131
Also it seems we can reduce the padding of the dialogue a little bit.

[2018-08-06 03:50] daviddias opened #135 "Add Sentry"
//cc @satazor @alanshaw

[2018-08-06 13:32] andreforsousa commented on #116
@PedroMiguelSS here's the updated version: [js-ipfs-favicon.zip](https://github.com/ipfs/js.ipfs.io/files/2262689/favicon.zip)

I've edited the hexagon using the outline borders used on the IPFS logo. This will grant a better overall legibility across all the browsers and formats.

Thank you.

[2018-08-07 16:32] PedroMiguelSS opened #138 "Missing translations"
[code]

## It
### `serviceWorker`
- [ ] `incompatibleMessageText`
- [ ] `activatedToggleText`

## Ko
### `serviceWorker`
- [ ] `incompatibleMessageText`
- [ ] `activatedToggleText`

## Pl
### `serviceWorker`
- [ ] `incompatibleMessageText`
- [ ] `activatedToggleText`

## Zh
### `serviceWorker`
- [ ] `incompatibleMessageText`
- [ ] `activatedToggleText`

[2018-08-09 01:57] satazor commented on #126
Done in https://github.com/ipfs/js.ipfs.io/pull/134

[2018-08-09 01:57] #126 closed

[2018-08-09 02:27] satazor opened #139 "Migrate to Gatsby 2"
Gatsby 2 is currently in beta but I think it's worth to migrate:

- Better webpack performance
- Smaller bundles
- We can use dynamic imports to lazy-load sections, see #69
- More future proof

[2018-08-10 14:08] #84 closed

[2018-08-10 14:10] diasdavid commented on #30
<img width="1352" alt="image" src="https://user-images.githubusercontent.com/1211152/43962386-408cd908-9cc0-11e8-9eb7-b5f5748a5d4d.png">

[2018-08-10 15:05] PedroMiguelSS opened #141 "Getting blank page on IE"
We are getting a blank page on IE as we are using `findIndex()` and maybe other ES6+ feats. Ideally, we would keep using them and inject the necessary polyfills at build time. We could use https://babeljs.io/docs/en/babel-preset-env#usebuiltins and insert `import "babel-polyfill";` in the layout component.

But even if we do fix this, some sections might not work correctly because IPFS doesn't wor

[2018-08-10 16:27] PedroMiguelSS commented on #30
The master branch already has the latest hash. Though, I will update to the latest hash as soon as we deploy the latest fixes and close this issue.

[2018-08-10 17:43] #130 closed

[2018-08-10 17:43] #131 closed

[2018-08-10 18:54] satazor commented on #135
@alanshaw @VictorBjelkholm how should we do this? do you already have an account setup on protocol labs?

[2018-08-10 19:33] satazor commented on #30
Hash was updated.

[2018-08-10 19:33] #30 closed

[2018-08-10 19:48] satazor commented on #41
@diasdavid I guess all of this has been taken care of. Can we close this?

[2018-08-10 21:11] diasdavid commented on #41
@satazor the DWeb Archive Screenshot is still out of date on js.ipfs.io

[2018-08-11 01:55] satazor commented on #41
Alright I will update it.

[2018-08-11 05:10] satazor commented on #41
@diasdavid The list within https://dweb.archive.org/ is not loading images correctly. Is it working on your computer?

<img width="1327" alt="screen shot 2018-08-11 at 06 10 07" src="https://user-images.githubusercontent.com/1017236/43988424-3fa38e3e-9d2d-11e8-9434-86c4ec654983.png">

[2018-08-11 07:42] satazor opened #144 "package-lock missmatch causes service-worker error"
I have `node@10` and `npm@6` but CI has `node@8` and `npm@5.6`. The issue is that whenever I commit a package-lock file made by `npm@6` and the project builds on the CI, the service-worker stops working with a error related with `webcrypto-shim`.

We should try to use `node@10` and `npm@6` in Jenkins to avoid having this issue, see: https://github.com/ipfs/jenkins-libs/#example-2

//cc @VictorBjel

[2018-08-11 08:30] satazor opened #146 "Update service-worker-gateway to latest version once released"
The https://github.com/ipfs/js.ipfs.io/pull/145 PR updated to a recent version of the package but via a GitHub commit. Once a new version is published to npm, we should revert that back to target npm instead of GitHub.

[2018-08-11 09:42] diasdavid commented on #41
Try again. Works for me now
<img width="1475" alt="image" src="https://user-images.githubusercontent.com/1211152/43990385-a62495b2-9d5b-11e8-98be-e96ffaabbcf5.png">

[2018-08-11 10:10] satazor commented on #41
Still broken for me.. dunno why.

[2018-08-12 02:36] satazor commented on #73
Closing this for now and will tack when necessary.

[2018-08-12 02:36] #73 closed

[2018-08-12 02:42] satazor commented on #41
By tomorrow, I mean monday because I'm commenting this at 3am of Sunday already :D

[2018-08-12 19:15] satazor opened #149 "Increase getting started codeblocks width a bit"
I think we can increase the codeblocks with a bit. It's specially small on desktop. Also I think the margins of this sections should be reviewed so that they are consistent with the rest of the blocks.

[2018-08-13 13:56] PedroMiguelSS commented on #41
I'm on it! 👍

[2018-08-14 09:55] satazor opened #152 "Do not serve js-ipfs through unkpg"
Try to bundle it through webpack. Might require #139.

[2018-08-14 09:59] satazor commented on #96
This will be handled in #29.

Will create a new issue for this.

This was indeed a design choice and it would require a lot of sections to be thought out differently.

---

Closing this as other stuff was addressed, @alanshaw thank you for your valuable feedback.

[2018-08-14 09:59] #96 closed

[2018-08-14 10:00] satazor opened #153 "Shorten "Add and retrieve files from anywhere in the IPFS Network" text"
This is a follow up of #96. The text is very large compared to others. @diasdavid can we make it a bit shorter?

[2018-08-14 10:04] satazor opened #154 "Reduce the "popcorn" effect by reserving space for items"
- [x] Hero cube
- [x] Nav GitHub buttons
- [x] Carousel images
- [x] Add some small `min-height` to the service-worker section

Please check for other sections that also have this effect and add them here.

[2018-08-14 10:04] satazor commented on #90
Closing in favor of #154

[2018-08-14 10:04] #90 closed

[2018-08-14 10:05] satazor commented on #129
Closing in favor of #154

[2018-08-14 10:05] #129 closed

[2018-08-14 10:09] satazor opened #156 "Re-think and implement "What can we build" section"
Follow up on #18

- Rethink how this section should look like, current experience has some usability problems
- Discuss how we will implement the "embedded" apps, codepen or something else?

[2018-08-14 10:10] satazor commented on #18
@diasdavid I will close this in favor of #156

[2018-08-14 10:10] #18 closed

[2018-08-14 10:12] satazor opened #157 "Complete the README"
The README is very incomplete. We should rebuild it from the ground up to have the necessary information about the project, such as (but not limited to):

- Technology used
- Performance considerations, such as the SVG strategy
- Contributions guidelines
- I18N instructions
- How the package stats are being fetched
- Declare the browsers we are targeting: Chrome, Firefox & Safari?
- Document how t

[2018-08-14 10:13] satazor commented on #21
Closing in favor of #157

[2018-08-14 10:13] #21 closed

[2018-08-14 10:18] satazor opened #158 "Mobile UI/UX improvements"
The mobile experience has room for improvements. @andreforsousa will comment below on that.

- [x] Reduce copy lines in hero
- [x] "Cards" approach on projects and videos carousel
- [x] Community CTAs should be 100%

[2018-08-14 10:21] satazor opened #159 "Publications on the "Publications and Talks" section"
Currently, this section has talks but it hasn't publications. The way it's structured doesn't fit well for this purpose. We need to think about a way to have publications on that section, or perhaps have a different page dedicated to it?

See https://ipfs.io/media/ as an example.

[2018-08-14 10:32] satazor opened #160 "Route /en should work as /"
At the moment, accessing `/en` returns a 404. It should work as other languages do.

[2018-08-14 10:35] andreforsousa commented on #158
It would be good to analyse if we can reduce the hero banner content on mobile versions, for the title; description and package info. This copy is taking a lot of vertical space and we could focus only on the crucial information to be displayed, maybe we could only understand for which break point would be good to do so.

For example, here's a suggestion for the package info:

Could turn into one

[2018-08-14 13:31] satazor commented on #29
Here's a few different things to consider. Note that they aren't mutually exclusive:

- Disable the animation on low-end devices by using a library that measures the machine performance; if it's costly to do this evaluation, cache it in local storage
- Animation is paused until page loads or `requestIdleCallback` is called (which one works best). Note that  `requestIdleCallback` is not available i

[2018-08-14 13:42] #160 closed

[2018-08-14 17:30] #149 closed

[2018-08-20 10:00] andreforsousa commented on #156
@diasdavid Let's sync when you can about this, on the previous call you referred that you could send an initial concept/sketch for what you had in mind for this section. Thank you!

[2018-08-22 10:01] diasdavid commented on #156
@andreforsousa pick 15 mins from my calendly. Note that my idea is still the same one I had back on the Berlin Dev Meetings in which I had a brainstorm with @marcooliveira and @hugomrdias. You probably can get the gist faster from them (given that you share the same office :))

[2018-08-22 10:03] hugomrdias commented on #156
I can help here ping me @andreforsousa

[2018-08-22 14:18] andreforsousa commented on #156
@diasdavid Ok, I thought it would be something different from what we've talked previously, no need for call then :) Here's the first approach on this, two versions (dark & light BGs) for desktop and mobile. Already using a snippet as example with IPFS code.

Depending on the amount of examples two be displayed on this section we might need to consider use a select box (dropdown) instead of the cu

[2018-08-22 14:52] diasdavid commented on #156
I like where this is headed!!

[2018-08-22 15:26] andreforsousa commented on #156
Thanks @diasdavid. Can you please confirm after which section will this go? That will imply choose the best background considering the website flow, exactly.

[2018-08-22 16:13] diasdavid commented on #156
I say between `What people are building with it` and `What people are building with it`

[2018-08-22 16:33] andreforsousa commented on #156
@PedroMiguelSS specs ready here:
- [Mobile](https://drive.google.com/drive/folders/1i56QGYi-aUuBo4mco9_xp-Ab_d0U24jO?usp=sharing)
- [Desktop](https://drive.google.com/drive/folders/1VsFJ35NjRnx2gAlCUaoGeArfsYAFvUDO?usp=sharing)

Thanks.

[2018-08-27 12:47] VictorBjelkholm commented on #144
The current versions available in jenkins are listed here: https://github.com/ipfs/jenkins/blob/master/update-nodejs-versions.js#L38-L40

Did you try specifying one of them in ci/Jenkinsfile?

[2018-09-03 16:39] andreforsousa commented on #158
@diasdavid Can we proceed with this? Do you approve all our suggestions? Thank you.

[2018-09-03 16:43] PedroMiguelSS opened #165 "Scroll to top and then to same position when reload the page"
I've noticed that when we reload the page it scrolls up to the top and then it scroll back again to the same position where we reloaded the page.
The same happens on [gatsbyjs](https://www.gatsbyjs.org/) website. But we should investigate this and check if we can solve it.

[2018-09-04 15:00] #146 closed

[2018-09-04 17:06] satazor opened #167 "Apply font loading strategy to further improve the reduction of popcorn effect"
Apply font-loading strategy to avoid flickers when fallback font has different number of lines than the normal font. This causes a "popcorn" effect when that happens.

We could use https://github.com/bramstein/fontfaceobserver to observe the fonts-loading. Note that this code should be as small and execute as fast as possible. It shouldn't be part of the main chunk, which has a considerable size.

[2018-09-04 17:08] #154 closed

[2018-09-04 17:09] satazor commented on #167
Continuation of #154

[2018-09-14 09:19] diasdavid commented on #158
Thank you for the ping @andreforsousa, only managed to see this now. All LGTM!

[2018-09-14 17:13] #156 closed

[2018-09-15 13:32] diasdavid commented on #158
Thank you for the ping @andreforsousa, only managed to see this now. All LGTM!

[2018-09-17 14:29] PedroMiguelSS opened #171 "Automate both ipfs add and ipfs pin add commands"
Currently, when we want to deploy a new version, the website must be manually added to ipfs through:
[code]

And then, the `<resulting-hash>` must be added to each translation file before it gets merged to `production`.
`serviceWorker` is the object that should be updated. Example:
[code]

This process should be automated.

[2018-09-17 20:07] lidel commented on #138
Please check https://github.com/ipfs/js.ipfs.io/pull/168, it removes the need for manual synchronization across locale files.

All you need to do after that PR is merged is to
1. Upload new source strings from `intl/messages/en.json`  via `tx push -s`
2. Download new translation files via `tx pull -a`
3. Commit changes.

[2018-09-18 23:40] diasdavid opened #173 "Error getting IPFS in Chrome & Firefox"
I saw for the first time today:

<img width="357" alt="image" src="https://user-images.githubusercontent.com/1211152/45722486-742b0b80-bb61-11e8-8341-b86f5bedb03f.png">

This is happening both in Chrome and Firefox.

@PedroMiguelSS can you check this asap?

[2018-09-19 09:30] hugomrdias commented on #173
Last ipfs release didn't include dist folder.

https://unpkg.com/ipfs@0.32.1/

/cc @alanshaw

[2018-09-19 11:08] alanshaw commented on #173
Please ping me on IRC/Slack if something major like that happens again - I don't always check github notifications so frequently.

[2018-09-19 11:19] alanshaw commented on #173
Fixed in 0.32.2.

https://unpkg.com/ipfs@0.32.2/

[2018-09-19 12:35] PedroMiguelSS commented on #173
Thanks @alanshaw!

[2018-09-19 12:35] #173 closed

[2018-09-21 10:36] #157 closed

[2018-09-25 16:36] PedroMiguelSS commented on #138
This issue will be closed as this project was added to Transifex and there is no need of manual synchronization anymore (see #168).

[2018-09-25 16:36] #138 closed

[2018-09-26 13:43] #158 closed

[2018-09-26 15:11] PedroMiguelSS commented on #153
@diasdavid can you make this text `IPFS is designed to use the power of Content Addressing and Process Addressing to find the nodes in the network that have the content you are looking for and retrieve it. In the same way, you can add any piece of data and other nodes will find it too.` a little bit more concise, please? :D

[2018-09-26 17:12] diasdavid commented on #153
Wanna try take a stab at it?

[2018-09-28 10:18] PedroMiguelSS commented on #153
Do you like any of these 2 options?

- `IPFS is designed to use the power of Content Addressing to find the nodes in the network that have the content you are looking for. In the same way, you can add data and other nodes will find it too.`
- `IPFS is designed` to use the power of Content Addressing to find the nodes in the network that have the content you want. This way, you can add data and oth

[2018-09-28 13:28] #29 closed

[2018-09-28 16:28] diasdavid commented on #153
1) 👍🏽

[2018-09-29 05:55] daviddias opened #179 "Video Streaming Example doesn't not need to use HLS"
@jhiesey could you review the Video Streaming Example at https://dev.js.ipfs.io (scroll down to the `What you can build with JS-IPFS` section)? Is it the most exciting thing ever? How would you polish it to blow people's minds in how easy it is to Stream Video with js-ipfs?

[2018-09-29 05:56] diasdavid commented on #179
Btw @PedroMiguelSS, the example is not working for me:
<img width="1282" alt="image" src="https://user-images.githubusercontent.com/1211152/46241633-97598480-c3c5-11e8-9e9f-8637d2bdab8c.png">

[2018-10-01 11:32] diasdavid opened #180 "End of Q3 Project Update"
@PedroMiguelSS converting your email update to this issue so that others can check it also. It's great!

- Video update: https://drive.google.com/file/d/1tz1dma8WAQVVjBlbCkctp5BzmubUbYS2/view
- Q3 Milestone: https://github.com/ipfs/js.ipfs.io/milestone/1

[2018-10-01 11:45] diasdavid commented on #180
Awesome progress on Milestone 1, @PedroMiguelSS 👏🏽👏🏽👏🏽

@PedroMiguelSS can you review the open [issues on js.ipfs.io](https://github.com/ipfs/js.ipfs.io/issues) and see which ones still apply?

Seems that a lot of work and the work that will make the website faster and self containable (no unpkg) is very close (both needs Gatsby 2). How much time would you feel it would be needed for those tasks?

[2018-10-01 12:28] diasdavid commented on #180
@PedroMiguelSS can we get all the updates on http://dev.js.ipfs.io/ released with exception for the "What can you build with IPFS" section? I want to give that section some extra review before shipping, but everything else is good to go.

[2018-10-01 13:10] PedroMiguelSS commented on #179
I'm working on it @diasdavid. It's not working on `Firefox` either on `Safari`, but it's working on `Chrome`.

[2018-10-01 14:01] #153 closed

[2018-10-02 13:13] PedroMiguelSS commented on #179
@diasdavid, is there a problem to change from `codesandbox` to `codepen`? The only downside of this is that users can't change/edit code directly on our page. If they want to change code they have to open `codepen` by clicking on this link:
<img width="723" alt="screen shot 2018-10-02 at 14 09 07" src="https://user-images.githubusercontent.com/11461281/46350590-fed53580-c64c-11e8-8466-049fde991ec6

[2018-10-02 13:40] PedroMiguelSS commented on #179
`What you can build` section is currently implemented to work with `codesandbox`. However, video streaming example has some problems on both `Safari` and `Firefox` browsers:
1. `Firefox`: somehow, the IPFS code is conflicting with `codesandbox` as it throwing internal errors;
2. `Safari`: it doesn't allow to open the `IPFS repo` on embedded examples. `Safari` considers it as a security issue.

###

[2018-10-03 14:21] PedroMiguelSS commented on #180
It's hard to estimate the time for those tasks as it depends on how hard is to migrate to Gatsby 2. I'll give it a try in order to understand how much time it will take.

@diasdavid, the new version was shipped. We need to finish "What you can build with IPFS" section to ship it as well.

[2018-10-04 16:35] PedroMiguelSS commented on #179
Examples required by @diasdavid:
- [x] Video Streaming
- [ ] Real-time Chat
- [x] Upload files

Real-time Chat is not added yet. Reasons:
- It uses [ipfs-pubsub-room](https://github.com/ipfs-shipyard/ipfs-pubsub-room) and we need a browser build to use it on `codepen`;
- As we need a local `daemon` running I don't think it's a good example as users must have low-effort level to get it running. The

[2018-10-04 17:15] daviddias opened #187 "Multiple translations vanished with the last release"
<img width="388" alt="image" src="https://user-images.githubusercontent.com/1211152/46491004-2b867a00-c812-11e8-810d-f25f209a267f.png">

[2018-10-04 17:16] diasdavid commented on #187
@PedroMiguelSS can you check this?

[2018-10-07 13:28] alanshaw opened #188 "Does not show latest release"
Currently showing 0.32.2 for me but 0.32.3 was published 9 days ago.

[2018-10-07 15:01] satazor commented on #188
This is a problem with npms that we are using to fetch the latest version. The reason is that npms is failing to analyze packages because nsp was deprecated (which we use to fetch vulnerabilities). This should be fixed soon.

[2018-10-08 11:15] PedroMiguelSS commented on #187
Translations are now managed by transifex. Only 100% translated languages are pulled. That’s the reason why some of them are missing.

[2018-10-08 12:10] jhiesey commented on #179
@PedroMiguelSS are you handling the `codesandbox` issue, or would you like me to take a look at what's broken?

@diasdavid one thing I would like to do with video streaming is to add another example using [`videostream`](https://github.com/jhiesey/videostream). The advantage of that module is you don't need to repackage the videos for HLS; instead it works with plain `.mp4` files, which makes for

[2018-10-14 06:59] jhiesey opened #190 ""What you can build with..." section has placeholder text"
Lorem ipsum isn't what we want.

[2018-10-14 07:01] jhiesey commented on #190
See here: https://github.com/ipfs/js.ipfs.io/blob/dd12ac70a0df8482c7e9401832d5254006d9d8ec/intl/messages/en.json#L137

Same issue in other languages as well.

[2018-10-15 10:13] PedroMiguelSS commented on #190
This section is still being reviewed by David. Thank you anyway for your feedback @jhiesey.

[2018-10-15 11:14] diasdavid commented on #187
Check in with the original translators and see if they have extra availability to help us land the translations again.

[2018-10-15 12:30] diasdavid commented on #187
Also, it would be good to have a link after the last translation that takes folks to transifex to add their own translation

[2018-10-15 13:04] PedroMiguelSS commented on #187
I didn't notify each original translators yet because I was waiting for the final copy (description) of `What you can build` section. I was trying to avoid to ask the original translators many times for new translations.
Can you tell me what do you expect in that section description @diasdavid?

[2018-10-30 18:08] satazor commented on #188
@alanshaw Meanwhile this was solved!

[2018-10-30 18:08] #188 closed

[2018-11-05 09:51] alanshaw commented on #188
0.33.0 was released last week but it's showing 0.32.3...

[2018-11-05 10:09] satazor commented on #188
I've triggered the analysis manually and it's back to normal. If this happens again, please let me know and I will further investigate it.

[2018-11-07 06:59] diasdavid commented on #159
I really like how https://libp2p.io/media/ looks

[2018-11-07 07:05] diasdavid commented on #179
@jhiesey yes please! I believe you already did it right? Is there a PR to update that example?

[2018-11-08 10:33] #139 closed

[2018-11-08 11:28] PedroMiguelSS opened #194 "404 page design and implementation"
We need to design and implement a new 404 page. There's a 404 page right now but it's working as a template page.

[2018-11-09 17:49] #152 closed

[2018-11-15 10:56] PedroMiguelSS commented on #190
@daviddias, do you want to keep a description on this section? If so, can you tell me what it should be, please?
This way I'll be able to notify translators on `transifex` to translate the final strings and then add the remaining languages to the website.

[2018-11-15 15:59] PedroMiguelSS commented on #144
How do I specify the node version using [website()](https://github.com/ipfs/jenkins-libs/#website-preview-and-deployment-hugo-only)?
Should it be done on the [makefile](https://github.com/ipfs/js.ipfs.io/blob/master/Makefile)?
If so, which node version manager do you use?

//cc: @victorb

[2018-11-15 16:13] victorb commented on #144
Is it enough by specifying the npm version? In that case, take a look at the Makefile in PeerPad https://github.com/ipfs-shipyard/peer-pad/blob/master/Makefile

[2018-11-16 08:14] daviddias opened #199 "Run Service Worker Gateway tests on CI (was: Service Worker Gateway is borked)"
I tried with Firefox and Chrome and both fail.

![image](https://user-images.githubusercontent.com/1211152/48606478-97164800-e977-11e8-9c8b-aaebdccccc2e.png)

![image](https://user-images.githubusercontent.com/1211152/48606486-9a113880-e977-11e8-96e2-b5f4cf3796e3.png)

This needs to get automatically tested.

[2018-11-16 20:12] daviddias commented on #199
What's the update here?

[2018-11-17 08:01] daviddias commented on #199
Seems that the Service Worker is correctly getting installed on dev.ipfs.io, however, loading some of the example websites takes infinity, example:

- https://dev.js.ipfs.io/ipfs/QmX7uKymLyHHdsVY9yXbj54AdKSaLuamXJHcXyWfKQ6fus
- https://dev.js.ipfs.io/ipfs/QmfQiRPTxVTT31ecDMAcUgTSTDt2HdPHKTuDWnD7T689oi

[2018-11-17 11:30] PedroMiguelSS commented on #199
Looking into it @daviddias

[2018-11-17 12:09] PedroMiguelSS commented on #199
You can now use the service worker properly on [js.ipfs.io](https://js.ipfs.io/) as we shipped the new version. We are now looking into the time it takes to load the example websites.

//cc: @vasco-santos @daviddias

[2018-11-17 12:16] vasco-santos commented on #199
Regarding the reported speed issue, the first hash for `Awesome IPFS` is working properly for us. The second one, `peer-pad` takes infinity for us, as well. After an analysis, we are having a connectivity issue, as you can see in the following screenshot. From my local daemon, I can get the `Awesome IPFS`, but not `peer-pad`. Or we are lacking any bootstrap node that `go-ipfs` has, since using the

[2018-11-17 12:32] vasco-santos commented on #199
Ok, so the problem is that the `peer-pad` hash is not correct 🤔

it shoud be:

[code]

We will update it

[2018-11-17 12:41] vasco-santos opened #204 "Query DNS for IPFS hash examples"
We should use something like [node-dig-dns](https://www.npmjs.com/package/node-dig-dns) to query the DNS of our examples, such as `peer-pad`.

We should do the same as we can do using the following unix command:

[code]

This will solve problems like the described in [ipfs/js.ipfs.io#199#issuecomment-439613281](https://github.com/ipfs/js.ipfs.io/issues/199#issuecomment-439613281)

[2018-11-17 13:04] daviddias commented on #199
@vasco-santos it isn't the case that the PeerPad hash was incorrect, it means it got lost (unpinned) //cc @pgte @jimpick. Updating it will solve it for now, but we need to make sure we don't loose pins.

[2018-11-17 13:08] vasco-santos commented on #199
true! I meant that the hash there is not the most recent for `peer-pad`, but we still had an issue with it.

[2018-11-17 15:53] PedroMiguelSS commented on #171
Also, we should have the example websites list externalized instead of having them on translations files as stated [here](https://github.com/ipfs/js.ipfs.io/pull/206#issuecomment-439619702).

[2018-11-17 17:59] PedroMiguelSS commented on #199
Hashes are updated now on [js.ipfs.io](https://js.ipfs.io/). It solves our problem for now but we will manage to a definitive solution soon.

[2018-11-19 07:31] daviddias opened #207 "Still using js-ipfs 0.31.7 ??"
<img width="590" alt="image" src="https://user-images.githubusercontent.com/1211152/48692195-79deb500-ebd5-11e8-8858-0b1e14be0738.png">

[2018-11-19 07:31] daviddias commented on #207
Also the list of CIDs is always empty:

<img width="560" alt="image" src="https://user-images.githubusercontent.com/1211152/48692218-895dfe00-ebd5-11e8-9e1c-05422c7777b9.png">

Even after loading all the examples

[2018-11-19 07:32] daviddias commented on #207
Also, just noticed:

<img width="496" alt="image" src="https://user-images.githubusercontent.com/1211152/48692247-a7c3f980-ebd5-11e8-9162-30bd6bff9c9e.png">

[2018-11-19 11:01] PedroMiguelSS commented on #207
I've talked with @vasco-santos as this is related to [`service-worker-gateway`](https://github.com/ipfs-shipyard/service-worker-gateway). He can't check it today but he will do it tomorrow.

### About the version:
- He will bump it manually and check if everything's ok.

### About empty CIDs list:
- I've tested it on `Chrome`, by visiting [peerpad](https://js.ipfs.io/ipfs/QmXRTzu4dUFnA1nLR7ogifE1E

[2018-11-19 20:04] vasco-santos commented on #207
So, regarding the `ipfs` version, I created a PR upgrading the dependencies [ipfs-shipyard/service-worker-gateway#31](https://github.com/ipfs-shipyard/service-worker-gateway/pull/31). @PedroMiguelSS already test this in `js.ipfs.io` and it seems everything working properly. Once the next deploy occurs it will be using the latest version of `js-ipfs`.

About the repo size, I went through the code,

[2018-11-20 09:42] daviddias opened #208 "Post-Mortem on #199"
@PedroMiguelSS @vasco-santos @alanshaw can you run a (one page, doesn't need to be longer) post mortem on https://github.com/ipfs/js.ipfs.io/issues/199?

[2018-11-21 02:16] PedroMiguelSS commented on #208
I did produce [this document](https://docs.google.com/document/d/12mSdTN_SGlTYFu01AQtPO17MN-tI68V6I9GtRWrOSyg/edit?usp=sharing) for now. It must be reviewed and @vasco-santos is on it.

[2018-11-22 14:08] #68 closed

[2018-11-22 16:49] PedroMiguelSS commented on #199
Service worker tests are now running on the `pre-push` hook. This is a temporary solution until we get [ipfs/infrastructure#455](https://github.com/ipfs/infrastructure/issues/455) solved.

[2018-11-23 10:36] daviddias commented on #207
Got it. The UI is what is kind of weird. First the way that the numbers are displayed is super non informative and second If such limit is passed (or lack of thereof), better say not defined than 8PB

[2018-11-23 10:55] PedroMiguelSS commented on #144
Yes, @victorb, it was enough. Thanks.
But shouldn't `nodejs_versions` option be supported on [`website()`](https://github.com/ipfs/jenkins-libs/#website-preview-and-deployment-hugo-only) library function as [`javascript()`](https://github.com/ipfs/jenkins-libs/#javascript) does?

[2018-11-23 12:40] #144 closed

[2018-11-30 14:57] #207 closed

[2018-11-30 15:27] PedroMiguelSS opened #218 "Missing translations"
This issue is related to #214.

Our goal is to add multiple translations to the website. Thus, would be great to translate as many as we can.

These are the languages that were left to translate from #214:
- [ ] Chinese (China) - zh-CN
- [ ] Chinese (Hong-Kong) - zh-HK
- [ ] Swedish - sv
- [ ] German - de
- [ ] Norwegian - no

If you don't see your language on the website either here, [check here]

[2018-12-02 16:36] notramo opened #219 "Host videos on PeerTube?"
There are some YouTube videos embedded in the website. Is this intentional to choose one of the largest centralized video providers (with questionable ethics) for videos on the webpage of a decentralized project? Why don't you use a decentralized, federated, p2p video hosting system?
https://joinpeertube.org/en/

[2018-12-03 08:01] daviddias commented on #127
Here https://github.com/ipfs/website/pull/280

[2018-12-03 11:36] #187 closed

[2018-12-14 11:32] daviddias commented on #135
The @ipfs/infra team might have some more details.

[2018-12-14 11:32] daviddias commented on #171
Is this still a thing?

[2018-12-14 11:40] daviddias opened #224 "The upload and send files demo is overly complex"
The upload and send files demo for that `what you can build` section was a direct c&p from https://github.com/ipfs/js-ipfs/tree/master/examples/exchange-files-in-browser which is complex tutorial, https://github.com/ipfs/js-ipfs/tree/master/examples/exchange-files-in-browser#exchange-files-between-the-browser-and-other-ipfs-nodes.

The `what you can build` should contain example apps in which the

[2018-12-14 11:42] daviddias commented on #171
@PedroMiguelSS you can use DNS resolution from within the website itself to get the latest js.ipfs.io hash without having to do this manually. @lidel, @alanshaw can you share a snippet of JS on how @PedroMiguelSS can use the gateway nodes to do this?

[2018-12-14 11:42] fsdiogo commented on #127
Yes, I'll close this when the new sections gets merged!

[2018-12-14 11:45] daviddias opened #225 "Improve call to action in What you Can Build"
<img width="1392" alt="image" src="https://user-images.githubusercontent.com/1211152/50001756-c380ac80-ff95-11e8-9590-17d6f12b0c1c.png">

[2018-12-14 12:09] daviddias opened #226 "Make Streaming Video Demo more "new user friendly""
I just gave a passthrough on cleaning up the Stream Video Demo, adding comments and changing the structure to improve its readability by new users

The result (now live) is:
[code]

[2018-12-14 12:10] daviddias commented on #226
Next step is to remove the HLS module with #179

[2018-12-14 12:10] #226 closed

[2018-12-14 12:30] daviddias opened #229 "Create a Media Page"
Take direct inspiration from https://libp2p.io/media/

[2018-12-14 23:49] lidel commented on #171
Fun fact: regular DNSLink lookup works in web browser, you can read current value via:
[code]

Note that:

- We don't have DNS lookup API in browser, but our public gateway does, so js-ipfs running in browser context will fallback to regular HTTP GET for https://ipfs.io/api/v0/dns/js.ipfs.io :ok_hand:
- TTL for js.ipfs is 60 seconds so you may need to wait 1 minute before new value is returned.

[2018-12-18 09:45] PedroMiguelSS commented on #199
Preventive measures were taken: the tests are running on the `pre-push` hook. This is not the final solution as it makes a lot more sense having them running on the CI. I'll update the priority label to `P3 - Low` and I'll close this issue as soon as [ipfs/infrastructure#455](https://github.com/ipfs/infra/issues/455) gets solved.

[2019-01-03 10:30] alanshaw commented on #171
Yep, that snippet looks good to me.

Also worth noting, both [webui](https://github.com/ipfs-shipyard/ipfs-webui) and the [blog](https://github.com/ipfs/blog) use CI to add and pin a successful build. I would look at those projects when trying to automate this deployment.

[2019-01-22 17:01] alanshaw opened #232 "Update examples for JS IPFS 0.34 files API changes"
See https://blog.ipfs.io/64-js-ipfs-0-34/#api-changes for details.

Also note that examples under "What you can build with JS-IPFS" are currently broken due to this.

[2019-01-22 17:02] alanshaw opened #233 "Suggestion: change API link in header"
Consider changing to https://github.com/ipfs/js-ipfs#core-api - users do not expect to see a directory in a github repo when they click on this.

[2019-01-22 17:03] alanshaw opened #234 "Suggestion: use ipfs.get instead of ipfs.cat in examples"
To new programmers `cat` means only 😸 and is confusing.

[2019-01-22 17:10] alanshaw opened #235 "Suggestion: more explanation for examples in "What you can build with JS-IPFS""
"Browser video" streaming is simple enough, but the rendered page should give some information about what is happening.

"Exchange files" - so much code, zero explanation...it's such a great demo but it needs to walk the user through what's there in some way (refs https://github.com/ipfs/js.ipfs.io/issues/224).

[2019-01-22 17:11] alanshaw opened #236 "Suggestion: use `const ipfs = new IPFS` over `const node = new IPFS`"
`node` might be a bit confusing with Node.js or DAG node.

[2019-01-27 15:05] daviddias commented on #236
🚲 🏡

😁

[2019-01-28 09:51] alanshaw commented on #236
Point taken, but not just my opinion 😆!

I opened this issue as I had a session watching @terichadbourne get up to speed with the files API and noticed this as a stumbling block. I thought that a rename might help, but appreciate this is probably subjective. Personally I'm ok with it either way but I'd like to make onboarding easier. @terichadbourne please say if my observation was incorrect or if

[2019-01-28 10:44] alanshaw opened #237 "No "test" script"
I just cloned the repo, did an `npm install` and ran `npm test`, but there's not test script defined. There do seem to be tests however - I suggest you choose a default set of tests (or all of them) that can be run when people type `npm test` as it's the conventional way of running tests for a project.

[2019-01-28 10:50] alanshaw opened #238 "Error running test:e2e:ci"
[code]

[2019-01-28 10:53] alanshaw opened #239 "Directory "cypress" not ignored?"
I've run `npm install`, `npm run test:e2e` and `npm run test:e2e:ci` and now I have a `cypress` directory that git reports as new - should it be ignored?

[2019-01-28 11:08] PedroMiguelSS commented on #239
Yes, it should be ignored. Cypress tests were made to run on `pre-push` to avoid possible errors on the service worker ([issue here](https://github.com/ipfs/js.ipfs.io/issues/199)). Ideally, the tests should run on the CI. This is just a temporary solution (check [this comment](https://github.com/ipfs/js.ipfs.io/issues/199#issuecomment-448159442)).

[2019-01-28 11:57] satazor commented on #239
PR at #240

Thanks for spotting this @alanshaw. PS: I accidentally closed this issue

[2019-01-28 12:40] satazor commented on #238
Yes, that script should only be run in the CI. I would remove it and see if it's still necessary once https://github.com/ipfs/infra/issues/455 is handled.

[2019-01-29 09:39] #239 closed

[2019-01-29 09:39] #238 closed

[2019-01-29 10:13] #218 closed

[2019-01-29 10:15] #237 closed

[2019-01-29 10:19] #232 closed

[2019-01-29 10:22] daviddias commented on #87
Is this issue still relevant?

[2019-01-29 11:04] daviddias opened #246 "Uncomplicate Publishing - Use DNS to get the hashes of the example websites."
Publishing is unnecessarily complicated -- https://github.com/ipfs/js.ipfs.io#publish --. The step on "After that, go to the messages folder and paste the resulting hash on the serviceWorker object. Note that all json files must be updated." can be replaced by a simple DNS resolve call when the website loads to get the TXT record and auto load the hash.

If DNS is down for some reason, then we can

[2019-01-29 18:42] terichadbourne commented on #236
@alanshaw If I'm remembering correctly, you probably took this note while I was looking at the underlying code that creates the "Exchange Files in Browser" example at https://js.ipfs.io/ and I was guessing that `node` is what you call a new instance of `ipfs`.

At the time, one of the reasons that seemed odd to me is that I had previously only worked with the DAG API, which I learned through the l

[2019-01-29 18:46] terichadbourne commented on #236
The [docs here](https://github.com/ipfs/js-ipfs#core-api) also use `ipfs` consistently, so I do think it makes sense to make example code match that, if I'm correctly interpreting @alanshaw's proposal.

[2019-01-29 18:48] terichadbourne commented on #233
+1. I found this confusing the first time I clicked on API in the nav bar and @alanshaw had to help me find the API docs I was looking for (descriptions of all the methods I could use).

[2019-01-29 18:50] terichadbourne commented on #234
I did discover some differences between `get` and `cat` with help from @alanshaw while exploring the docs, but I agree that `cat` didn't mean anything to me intuitively in the way `get` does. (I was also coming from having learned `put` and `get in the DAG API.)

[2019-01-29 18:53] terichadbourne commented on #235
I'd find it really helpful to see a link from that exchange files app example on the main website to the tutorial about how it's built at https://github.com/ipfs/js-ipfs/tree/master/examples/exchange-files-in-browser

[2019-02-15 16:03] fsdiogo commented on #127
Shipped in https://github.com/ipfs/website/pull/282.

[2019-02-15 16:03] #127 closed

[2019-03-09 01:22] mishmosh opened #252 "Possible typo: libp2p / ipfs"
The Community section of the website footer refers to libp2p twice, in line 164 of /messages/en.json.

* "code implementations and tools using **libp2p**"
* "join our regular product calls to discuss **libp2p** with us."

Is this supposed to say ipfs? I can make a PR if so.

[2019-03-09 07:05] satazor commented on #252
//cc @daviddias

[2019-03-09 10:37] daviddias commented on #252
great catch @mishmosh. Yes please submit the PR :) Thank you!

[2019-03-25 04:31] voidao opened #253 "Service Worker Gateway activation message not showing for mobile and small screen situations"
<img width="426" alt="Screen Shot 2019-03-25 at 12 30 40 PM" src="https://user-images.githubusercontent.com/23121736/54895297-e22e0200-4ef9-11e9-91c2-4385611e216f.png">

[2019-03-25 04:39] HenryFMa commented on #253
Could simple make the message always showing as:
`.message {
    position: absolute;
    top: 50%;
    width: 50%;
...`

But pretty sure it should not be the best solution.

[2019-04-01 10:33] PedroMiguelSS commented on #253
You're right @HenryFMa. I'll take a look asap to solve this.

Thank you! 🙏

[2019-04-18 08:44] olizilla commented on #171
_is this still a thing_ - it adds friciton to the deploy process, and means we can't auto-deploy on merge like we do the other sites.

[2019-04-18 08:48] olizilla commented on #171
See also: #246

@PedroMiguelSS is this something you plan to fix? Can we get an ETA?

[2019-04-18 10:20] PedroMiguelSS commented on #171
You're right, this issue must be addressed. Our sprints on [IDM](https://github.com/ipfs-shipyard/pm-idm) project are 2 weeks long. The current sprint will end on May 6th and I'll include a task on the next sprint for this issue. Is that ETA ok for you?

[2019-07-25 14:25] terichadbourne opened #265 "Link to calls list"
Tried earlier to add a link in community section to our calls . ( https://github.com/ipfs/team-mgmt#synchronous-communication ) but it failed because of a z-index issue with the little hexagon people.

@fsdiogo knows how to fix it 😂

[2019-07-26 11:32] #265 closed

[2019-08-06 09:39] alanshaw commented on #252
reoslved in https://github.com/ipfs/js.ipfs.io/pull/264

[2019-08-06 09:39] #252 closed

[2020-01-09 21:54] wuniversales opened #269 "Put the library used for the example on the web"
The examples in the web are fine.
https://js.ipfs.io/
But it is not indicated on the website that library is used to work, please put the libraries!

[2020-02-28 14:50] andrew opened #272 "Featured company websites no longer load"
https://filenation.io and https://paratii.video no longer load and probably should be removed from the homepage or at least their links be disabled, happy to send a PR if there's agreement?

[2020-02-28 16:43] #272 closed

[2020-03-06 20:13] rayj00 opened #275 "Still alive?"
Is js.ipfs.io  still alive and being worked on?

[2020-05-16 15:44] spencerflagg commented on #275
Same question.

[2020-05-25 02:41] 0xflotus opened #283 "Broken link on website"
https://github.com/ipfs/js.ipfs.io/blob/07444af6472e4cc0da257792fce9cf02d0f09fe6/src/shared/components/getting-started-section/index.js#L105

This link is broken.

[2020-06-02 13:14] lidel commented on #283
Fixed in https://github.com/ipfs/js.ipfs.io/pull/281 :partly_sunny:

[2020-06-02 13:14] #283 closed

[2020-06-22 11:31] lindseymysse opened #285 "Tutorial Link on js.ipfs.io leads to 404 page"
Behavior: when I click the link Tutorials on the js.ipfs.io page it leads me to https://github.com/ipfs/js-ipfs/tree/master/examples#js-ipfs-examples-and-tutorials which is a 404 page.

Expected Behavior: When I click the link Tutorials on the page it should lead me to a page of examples and tutorials.

Keep being awesome!

[2020-07-13 18:04] terichadbourne commented on #285
Thanks for reporting, @lindseymysse. Are you still having this issue? For me the page you've linked to loads correctly.

[2020-07-13 18:29] terichadbourne opened #286 "Better highlight ProtoSchool tutorials from js.ipfs.io"
@achingbrain @johnnymatthews

Currently we have a small text link to ProtoSchool tutorials under "Getting Started" (I'm trying to open a PR for an update that leads to the new IPFS course instead of all ProtoSchool content from this link but your commit proofer bot hates me).

![image](https://user-images.githubusercontent.com/19171465/87337719-e37da680-c511-11ea-98a4-0827d3aac522.png)

However, t

[2020-07-13 18:58] terichadbourne commented on #286
See #287 for the PR mentioned above (doesn't fix the issue asked about here).

[2020-07-13 20:01] lindseymysse commented on #285
Looks like you fixed it! Thanks a ton.

[2020-07-14 11:13] #285 closed

[2020-07-14 14:45] johnnymatthews commented on #286
The examples in that folder are getting fleshed out and migrated into `docs.ipfs.io` this quarter, so you can link to there once that's all done. Not sure how often they get updated, but I'm assuming whenever breaking changes go into IPFS that affect the examples.

[2020-07-14 15:12] achingbrain commented on #275
Very much so - is there something specific you noticed or had an idea to improve?

[2021-01-21 09:21] bertrandfalguiere opened #296 "Let us translate code examples comments"
In the "Getting started" issue, the comments in the js code are note available for translation in https://www.transifex.com/ipfs . It would be nice to be able to translate them.

![image](https://user-images.githubusercontent.com/8818223/105330050-1f38ad80-5bd2-11eb-99ea-b1cf0ca5c572.png)

Possibly @jessicaschilling ?

[2021-03-11 15:09] terichadbourne commented on #171
Jumping in with the annual "is this still a thing" nudge after merging to master in January and failing to notice until today that my changes were never published because I failed to do all the steps manually. 🤦‍♀️

[2021-06-23 18:11] jessicaschilling opened #299 "Update CIDs for examples"
The examples in the illustration below have some pretty outdated CIDs leading to outdated versions of those sites. Can these please be updated?

![image](https://user-images.githubusercontent.com/1507828/123147172-f8e69a80-d41b-11eb-8b21-173439761b4a.png)

[2021-10-10 18:26] mxk1011 opened #301 "ipfs.cat example on website not working correctly"
- **Version**:
commit: "55cb49900"
golang: "go1.15.15"
ipfs-http-client: "1.0.0"
repo: "11"
system: "amd64/linux"

- **Platform**:
Chromium Version 93.0.4573.0

- **Subsystem**:

#### Severity:
High

#### Description:
I copied the example from the website to retrieve content from IPFS in browser via JS

#### Steps to reproduce the error:
[code]

this code snippet using "ipfs-http-client": "^53.0.1

[2021-11-19 15:34] lidel commented on #301
The example on https://js.ipfs.io/ needs updating. PRs welcome :pray:

[2022-05-13 11:22] expenses opened #303 "The js.ipfs.io section about a service worker gateway is misleading"
https://js.ipfs.io/ says:

Whereas https://github.com/ipfs/js-ipfs/blob/master/docs/BROWSERS.md#limitations-of-the-browser-context says:

I'm guessing that the latter is more correct? If so, it'd be great to change this on the documentation so as to not mislead users on the status of the project.

[2022-05-21 18:17] jonapaniagua opened #302 "Hi"

[2022-05-27 14:18] BigLep commented on #303
@expenses : you're right.  PR welcome for the fix.

[2022-05-27 14:22] #302 closed

[2022-06-03 19:38] #171 closed

[2022-06-03 19:53] #301 closed

[2022-06-07 01:24] lidel opened #307 "Update to the latest js-ipfs"
The website runs an ancient version of js-ipfs which still uses secio:

## TODO

- [ ] switch from `ipfs` to the latest [`ipfs-core`](https://www.npmjs.com/package/ipfs-core)
- [ ] make sure examples on the page work as expected
- [ ] fix service worker demo

[2022-06-07 21:45] jonapaniagua opened #308 "Help"

[2022-06-10 14:11] #308 closed

[2022-06-22 00:03] #275 closed

[2022-08-01 12:50] juliangruber opened #310 "Build is broken with node:lts / update dependencies"
`npm ci` fails on node 12-16 on macOS because of the `sharp` dependency.

[2022-08-01 12:50] juliangruber commented on #307
I just ran into this, the first example should look something like:

[code]

I wanted to craft a proper PR but then ran into https://github.com/ipfs/js.ipfs.io/issues/310.

[2022-08-04 01:48] lidel commented on #310
Since cache got purged on CI, we also fail on Node 10:
https://app.fleek.co/#/sites/js-ipfs-website/deploys/2022-08-04T00:27:18.888Z?accountId=protocollabs-team

[2022-11-04 15:32] javaspeak opened #314 "Issues with webpage examples: What you can build with JS-IPFS"
On the website:

    https://js.ipfs.tech/

There are 2 examples for What you can build with JS-IPFS:

    Stream Video through IPFS
    Upload and send files

None of them are even starting - there are errors in the console of chrome/

For example the "Upload and send files" example has the following console errors:

    The resource from “https://cdpn.io/ipfs/fullembedgrid/app.css” was blocked d

[2022-11-08 02:01] jonapaniagua opened #315 "Hi"